* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Oswald', sans-serif;
  background-color: black;
  color: white;

  /* Pattern from https://www.heropatterns.com/ */
  background-image: url("data:image/svg+xml,%3Csvg width='120' height='120' viewBox='0 0 120 120' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 0h2v20H9V0zm25.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm-20 20l1.732 1-10 17.32-1.732-1 10-17.32zM58.16 4.134l1 1.732-17.32 10-1-1.732 17.32-10zm-40 40l1 1.732-17.32 10-1-1.732 17.32-10zM80 9v2H60V9h20zM20 69v2H0v-2h20zm79.32-55l-1 1.732-17.32-10L82 4l17.32 10zm-80 80l-1 1.732-17.32-10L2 84l17.32 10zm96.546-75.84l-1.732 1-10-17.32 1.732-1 10 17.32zm-100 100l-1.732 1-10-17.32 1.732-1 10 17.32zM38.16 24.134l1 1.732-17.32 10-1-1.732 17.32-10zM60 29v2H40v-2h20zm19.32 5l-1 1.732-17.32-10L62 24l17.32 10zm16.546 4.16l-1.732 1-10-17.32 1.732-1 10 17.32zM111 40h-2V20h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zM40 49v2H20v-2h20zm19.32 5l-1 1.732-17.32-10L42 44l17.32 10zm16.546 4.16l-1.732 1-10-17.32 1.732-1 10 17.32zM91 60h-2V40h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm24.026 3.294l1 1.732-17.32 10-1-1.732 17.32-10zM39.32 74l-1 1.732-17.32-10L22 64l17.32 10zm16.546 4.16l-1.732 1-10-17.32 1.732-1 10 17.32zM71 80h-2V60h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm24.026 3.294l1 1.732-17.32 10-1-1.732 17.32-10zM120 89v2h-20v-2h20zm-84.134 9.16l-1.732 1-10-17.32 1.732-1 10 17.32zM51 100h-2V80h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm24.026 3.294l1 1.732-17.32 10-1-1.732 17.32-10zM100 109v2H80v-2h20zm19.32 5l-1 1.732-17.32-10 1-1.732 17.32 10zM31 120h-2v-20h2v20z' fill='%236200ff' fill-opacity='0.60' fill-rule='evenodd'/%3E%3C/svg%3E"); 
  font-size: 16px;

}

a {
  color: white;
  text-decoration: none;
}

ul {
  list-style: none;
}

.conteiner {
  width: 90%;
  margin: auto;
}
/*Navigation*/
.nav-main {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 20px 50px;
}

.nav-main a{

  margin-left: 25px;
}

/*Animacion*/
.menu a{
  position: relative;
  display: block;
  overflow: hidden;
}

.menu a span{
  transition: transform 0.2s ease-out;
}

.menu a span:first-child{
  display: inline-block;
  padding: 10px;
}

.menu a span:last-child{
  position: absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  display:flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-100%);
}

.menu i{
  font-size: 30px;
}

.menu a:hover span:first-child{
  transform: translateY(100%);
}

.menu a:hover span:last-child,
.menu[data-animation] a:hover span:last-child{
  transform: none;
} 

/*animaciones*/

.menu[data-animation="to-top"] a span:last-child{
  transform: translateY(100%);
}

.menu[data-animation="to-top"] a:hover span:first-child{
  transform: translateY(-100%);
}
/*Animacion*/

.nav-brand {
  width: 50px;
}
/*NAV LEFT*/
.nav-main ul {
  display: flex;
}
.nav-main ul li {
  padding: 10px;
}

.nav-main ul li a:hover {
  border-bottom: 2px solid white;
}

.nav-main ul.nav-menu {
  flex: 1;
  margin-left: 20px;
}

.nav-menu .txtH{

  border-left: solid 3px white;
}

.nav-menu .txtH a:hover{

  border-bottom: none;
  cursor: default;

}

.menu-btn {
  position: absolute;
  cursor: pointer;
  top: 15px;
  right: 30px;
  display: none;
}

/* SHOWCASE */
hr {
  margin: 10px 0;
}
.showcase {
  width: 80%;
  height: 550px;
  background-color: #1b0043;
  background-image: url("data:image/svg+xml,%3Csvg width='44' height='12' viewBox='0 0 44 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 12v-2L0 0v10l4 2h16zm18 0l4-2V0L22 10v2h16zM20 0v8L4 0h16zm18 0L22 8V0h16z' fill='%23000000' fill-opacity='0.98' fill-rule='evenodd'/%3E%3C/svg%3E");
  padding: 6%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.showcase p{

  padding: 25px 10%;
  font-size: 20px;

}

.showcase:hover{

  background-color: #170435;
}

.btn {
  cursor: pointer;
  display: inline-block;
  border: 0;
  font-weight: bold;
  padding: 10px 20px;
  background: #262626;
  color: white;
  font-size: 14px;
  border: 1px solid white;
  margin: 1rem 0;
}

.btn:hover {
  opacity: 0.7;
}

.showcase h2,
.showcase p {
  margin-bottom: 50px;
}


/*NEWS CARDS*/

.news-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  margin: 10px 0;
  font-size: 20px;
}

.news-cards img {
  width: 100%;
  height: 300px;
}

.news-cards h3 {
  font-size: 20px;
  margin: 10px 0;
}

.news-cards a {
  padding: 10px 0;
  color: #f2f2f2;
  text-transform: uppercase;
  display: inline-block;
  font-weight: bold;
}
.news-cards a:hover {
  text-decoration: underline;
}


.div-subtitles{

  width: 80%;
  margin-left: 10%;
}
/*CARD BANNER ONE*/

.cards-banner-one {
  width: 70%;
  margin-left: 15%;
  height: 400px;
  background: url('./imgCSS/minecraft.jpeg') no-repeat center center/cover;
  margin-bottom: 75px;
}
.cards-banner-one .content {
  width: 100%;
  padding: 0;
  text-align: end;
}

.cards-banner-one h2 {
  margin: 10px 0 20px 0;
}

.cards-banner-one cite a{

  color: red;
}

/*CARD BANNER TWO*/
.cards-banner-two {
  width: 70%;
  margin-left: 15%;
  height: 350px;
  background: url('./imgCSS/skate.jpg') no-repeat center center/cover;
  margin-bottom: 75px;
}
.cards-banner-two .content {
  width: 20%;
  padding: 10px 0 0 30px;
  
}

.cards-banner-two h2 {
  margin: 10px 0 20px 0;
}

/*CARD BANNER Three*/
.cards-banner-three {
  width: 70%;
  margin-left: 15%;
  height: 400px;
  background: url('./imgCSS/drums.jpg') no-repeat center center/cover;
  margin-bottom: 75px;
}
.cards-banner-three .content {
  width: 100%;
  padding: 20px;
  text-align: right;
}

.cards-banner-three h2 {
  margin: 10px 0 20px 0;
}

/* SOCIAL */
.social {
  margin: 50px;
}
.social p {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.links a {
  margin: 0 30px;
}

.links a i {
  font-size: 3em;
}

/* FOOTER LINKS */
.footer-links {
  background: #2f3640;
  color: #616161;
  font-size: 13px;
  padding: 0px 0;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: flex-start;
  justify-content: center;
}

.footer-container ul {
  margin: 0 auto;
}

.footer-container li {
  line-height: 1.5;
}

.footer {
  background: #2f3640;
  color: #c9c9c9;
  font-size: 11px;
  padding: 20px 0;
  text-align: center;
  padding-bottom: 20px;
}

@media (max-width: 950px){

  .news-cards img {
      height: 130px;
    }
    .cards-banner-two .content {
      width: 60%;
      padding: 30px 0 0 25%;
    }
}

@media (max-width: 800px){

  .news-cards img {
      height: 100px;
    }

    .cards-banner-two .content {
      width: 60%;
      padding: 10px 0 0 20%;
    }
}

@media (max-width: 775px){

    .nav-main{

      font-size: 15px;
      padding: 10px 25px;
    }
}

@media (max-width: 700px) {
  .menu-btn {
    display: block;
  }

  .nav-main{

    font-size: 20px;
    padding: 20px 50px;
  }
  .nav-main ul.nav-menu {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: #2f3640;
    height: 100%;
    padding: 30px;
    transform: translateX(-400px);
    opacity: 0.9;
    transition: transform 0.5s ease-in-out;
  }

  .nav-main ul.nav-menu.show {
    transform: translateX(-20px);
  }

  .nav-main ul.nav-menu li {
    padding: 20px;
    font-size: 14px;
  }
  .nav-main ul.nav-menu-right {
    margin-right: 40px;
  }
  .news-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .news-cards img {
      height: 200px;
    }
  .cards-banner-one .content {
    width: 80%;
    color: #000000;
  }
  .cards-banner-two .content {
      width: 60%;
      padding: 10px 0 0 30px;
    }
  

  .footer-links .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .news-cards {
    grid-template-columns: 1fr;
  }
  .news-cards img {
    height: 270px;
  }
  .cards-banner-one .content,
  .cards-banner-two .content {
    width: 100%;
    padding: 60px 20px;
  }

  .footer-container .footer-container {
    grid-template-columns: 1fr;
  }
}